{{define "content"}}
<section class="content">
    <div class="container-fluid">
        <h2>Users</h2>
        <div class="card">
            <div class="card-body">
                <table style="width:100%" id="users-table" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Firstname</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Active</th>
                            <th>Creation date</th>
                            <th>Last logon</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Rempli par JS -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<script src="/web/users.js"></script>
{{end}}
