{{define "content"}}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Modules DSC</h1>
            </div>
            <div class="col-sm-6 text-right">
                <button class="btn btn-success" id="btn-upload-module"><i class="fas fa-plus"></i> Upload new module</button>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <table id="modules-table" class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Version</th>
                            <th>Checksum</th>
                            <th>Upload Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>
{{end}}
